* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  
} h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* sets the background image*/
body{
  min-height: 100vh;
  background: url(../images/faded-gray-background-with-paint-brush-texture.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
/* navigation bar */

/* in this section it shows my name and the nav bar */
header{
  background-color:gray;
  display: flex;
}

header h1{
  margin-left: 20px;
  background-color:cornflowerblue;
  display: inline-block;
  font-size: 25px;
  width: 20%;
  margin-right: 45%;
}

/* this formats the nav bar */

nav ul{

  margin: 0px 100px;
  display: inline-flex;
  justify-content: end;
  list-style: none;
  flex: 2 1 auto;
  background-color: aqua;
  cursor: pointer;
}

header li{
  margin: 0px 10px;
  border-bottom: 2px solid black;
  color: cornflowerblue;
}

/* These selectors allow you to navigate to different parts of the webpage */
    #about-me:target{
      scroll-padding-top: 5px;
    }
    #project:target{
      scroll-padding-top: 5px;
  }
    #contact_me:target{
      scroll-padding-top: 5px;
    }


/* this organises the hero banner section */

.hero-banner{
background-size: cover;
  background-position: center;
width: 100%;
height: 200px;
}

.hero-banner h2{
  display: flex;
  justify-content:center;
  
}

/* this organises the about me section */

.about-section{
  margin: 40px;
  border-left: 2px solid black;
  margin-left: 350px;
  margin-bottom: 150px;
  
}

.about-section h2{
  display: flex;
  justify-content: center;
  
}

/* this organises the project section */

/* project grid */
.sub-heading{
  text-align: center;
  width: 250px;
  margin: 50px auto;
}

#projectGrid{
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "proj-1 proj-1 proj-1 proj-1"
  "proj-1 proj-1 proj-1 proj-1"
  "proj-2 proj-2 proj-3 proj-3"
  ;
}

#proj-1{
  grid-area:proj-1;
  background-image: url(../images/Screenshot\ 2023-10-09\ at\ 21.18.06.png);

}

#proj-2{
  grid-area: proj-2;
  background-image: url(../images/abstract-coming-soon-halftone-style-background-design_1017-27282.jpg.avif);
  background-position: center;
}

#proj-3{
  grid-area: proj-3;
  background-image: url(../images/abstract-coming-soon-halftone-style-background-design_1017-27282.jpg.avif);
  background-position: center;
}

.projectGridArea{
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
}
.heading{
  background-color: rgb(0, 0, 0,0.7);
  padding: 10px;
  color: white;
  font-size: 20px;
  border-bottom: 5px solid #b33232;
  border-left: 5px solid #b33232;
  border-right: 5px solid #b33232;
  border-top: 5px solid #b33232;
}

/* this is to organise the footer */

footer{
  display: flex;
  
  display: flex;
  align-items: center;
}

footer h2{
  margin-right: 850px;
  border-right: 2px solid black;
  background-color:cornflowerblue

}

#contact_details {
   margin: 0px 10px;
   word-spacing: 15px;
   border-bottom: 2px solid black;
   text-decoration: none;
}